<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="juego-de-frogs">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `juego-de-frogs`
     * juego-de-frogs
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class JuegoDeFrogs extends Polymer.Element {
      static get is() { return 'juego-de-frogs'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'juego-de-frogs'
          }
        };
      }
    }

    window.customElements.define(JuegoDeFrogs.is, JuegoDeFrogs);
  </script>
</dom-module>
