<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="juego-de-frogs">
  <template>
    <style>
      :host {
        display: inline-block;
      
      }
      :host table{
        margin-top: 3em;
      }
      :host th{
        width: 6em;
        height: 3em;
        border: 3px solid black;
        border-radius: 1em;
      }
      :host input{
        border: 2px solid black;
        border-radius: 1em;
        height: 2em;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }
      :host img{
        width: 5em;
      }
      .rana{
        background: white;
        width: 7em;
        border: 3px solid black;
        border-radius: 1em;
      }
      .linea{
        margin-top: 3em;
      }
    </style>
    <input placeholder="Saltos" type="number" on-keypress="frog" maxlength="2" autofocus name="salto" value="{{salto::input}}" >
    <div class="linea"> 
      <input id="s1" disabled value="{{s1::input}}">
      <input id="s2" disabled value="{{s2::input}}">
      <input id="s3" disabled value="{{s3::input}}">
      <input id="s4" disabled value="{{s4::input}}">
      <input id="s5" disabled value="{{s5::input}}">
    </div>
  </template>

  <script>
    class JuegoDeFrogs extends Polymer.Element {
      static get is() { return 'juego-de-frogs'; }
      static get properties() {
        return {
          s1: {
            type: Number
          },
          s2: {
            type: Number
          },
          s3: {
            type: Number
          },
          s4: {
            type: Number
          },
          s5: {
            type: Number
          },
          salto: {
            type: Number
          }
        };
      }
      frog(){

        for (var i = 1; i <= this.salto; i++) {
          if(i == 1){
            setTimeout(()=>{ this.s1 = "FROG"; }, 1000);
            setTimeout(()=>{ this.s1 = ""; }, 2000);
          } else if(i == 2) {
            setTimeout(()=>{ this.s2 = "FROG"; }, 2000);
            setTimeout(()=>{ this.s2 = ""; }, 3000);
          } else if (i == 3){
            setTimeout(()=>{ this.s3 = "FROG"; }, 3000);
            setTimeout(()=>{ this.s3 = ""; }, 4000);
          } else if (i == 4) {
            setTimeout(()=>{ this.s4 = "FROG"; }, 4000);
            setTimeout(()=>{ this.s4 = ""; }, 5000);
          } else if (i == 5) {
            setTimeout(()=>{ this.s5 = "FROG"; }, 5000);
          } 
          // else {if (i > 5)
          //   i;
          // }
        }
      }
    }

    window.customElements.define(JuegoDeFrogs.is, JuegoDeFrogs);
  </script>
</dom-module>
